.debug{
  .registers{
    .register{
      .mensagem{

      }
      .trace{
        font-size: 8px;
      }
    }
    li{
      color: #444;
      border-bottom: solid 1px #ddd;
      padding: 6px 0;
      font-size: 10px;
      font-family: system-ui;
    }
  }
}